<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="_Mybatis_">

	<select id="findBySql" parameterType="sqlAdapter" resultType="dbRecord">
		${sql}
	</select>
	
	<update id="updateBySql" parameterType="sqlAdapter">
		${sql}
	</update>
	
	<delete id="deleteBySql" parameterType="sqlAdapter">
		${sql}
	</delete>
	
	<update id="updateRecord" parameterType="record">
		UPDATE ${table} SET
		<foreach collection="values" index="key" item="value" separator=",">
			<choose>
				<when test="value.type == 'sql'">
					${key} = (${value.value})
				</when>
				<otherwise>
					${key} = #{value.value}
				</otherwise>
			</choose>
		</foreach>
		 WHERE
		<choose>
			<when test="pk != null and pk.colList!=null and pk.colList.size()>0">
            	<foreach collection="pk.colList" item="pkCol" separator="AND">
            		${pkCol.name} = #{pkCol.value}
            	</foreach>
			</when>
			<otherwise>
				1=2
            </otherwise>
		</choose>
	</update>
	
	<insert id="insertRecord" parameterType="record">
		INSERT INTO ${table}
		<foreach collection="values" index="key" open="(" separator="," close=")">
			${key}
		</foreach>
		VALUES (
		<foreach collection="values" index="key" item="value" separator=",">
			<choose>
				<when test="value.type == 'sql'">
					(${value.value})
				</when>
				<otherwise>
					#{value.value}
				</otherwise>
			</choose>
		</foreach>
		)
	</insert>
	
	<delete id="deleteRecord" parameterType="record">
		DELETE FROM ${table} WHERE
		<choose>
			<when test="pk != null and pk.colList!=null and pk.colList.size()>0">
            	<foreach collection="pk.colList" item="pkCol" separator="AND">
            		${pkCol.name} = #{pkCol.value}
            	</foreach>
			</when>
			<otherwise>
				1=2
            </otherwise>
		</choose>
	</delete>
	
	<select id="getRecord" parameterType="record" resultType="dbRecord">
		SELECT T.* FROM ${table} WHERE
		<choose>
			<when test="pk != null and pk.colList!=null and pk.colList.size()>0">
            	<foreach collection="pk.colList" item="pkCol" separator="AND">
            		${pkCol.name} = #{pkCol.value}
            	</foreach>
			</when>
			<otherwise>
				1=2
            </otherwise>
		</choose>
	</select>
</mapper>