<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="_Mybatis_">

	<select id="findBySql" parameterType="sqlAdapter" resultType="ww.core.mybatis.pojo.DbRecord">
		${sql}
	</select>
	
	<update id="updateBySql" parameterType="sqlAdapter">
		${sql}
	</update>
	
	<delete id="deleteBySql" parameterType="sqlAdapter">
		${sql}
	</delete>
	
	<update id="updateRecord" parameterType="record">
		UPDATE ${table} SET
		<foreach collection="values" index="key" separator=",">
			${key} = #{values[key]}
		</foreach>
		<foreach collection="sqlValues" index="key" separator=",">
			${key} = (${sqlValues[key]})
		</foreach>
		 WHERE
		<choose>
			<when test="pk != null and pk.colList!=null and pk.colList.size()>0">
            	<foreach collection="pk.colList" item="pkCol" separator="AND">
            		${pkCol.name} = #{pkCol.value}
            	</foreach>
			</when>
			<otherwise>
				1=2
            </otherwise>
		</choose>
	</update>
</mapper>