<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	<context:component-scan base-package="ww.cmp" />
	<!-- 支持 @Transactional 标记 ,系统默认管理bo.*BO的事务，其它特殊事务需求请在代码中控制，并注意包命名规则和事务名称 -->
	<tx:annotation-driven proxy-target-class="true" />
	<!-- 支持 @AspectJ 标记-->
	<aop:aspectj-autoproxy />
	<!-- 用于持有ApplicationContext, 可以使用BeanUtils.getBean('xxxx')的静态方法得到bean对象 -->
	<bean class="ww.core.spring.BeanUtils" />
	<!-- 通过spring加载系统配置 -->
	<bean id="propertyConfigurer" class="ww.core.spring.SysProperty"
		factory-method="getInstance">
		<property name="custLocations">
			<list>
			    <value>classpath*:config/core-*.properties</value>
				<value>classpath*:config/syscfg.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8"/>
	</bean>
</beans>